.cardPaymentsBTNSInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  height: 2em;
  box-shadow: 4px 4px 4px rgba(21, 70, 115, 0.25);
  border-radius: 10px;
  border: 0;
}
.cardBtns{
  background-color: #EC6F61;
  cursor: pointer;
  color: #f7f7f7;
  font-size: 20px;
}
.basketDishList {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  left: calc((100% - 600px)/2);
}
.basketItem  {
  display: flex;
  width: 600px;
  height: 126px;
  margin-top: 1em;
  margin-bottom:  1em;
  background-color: #05223D;
  border-radius: 26px;
  align-self: center;
  align-items: stretch;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 1em !important;

}
.basketImage {
  float: left;
  border-radius: 23px;
  position: relative;
  height: calc(100% - 20px);
  width: calc((100%/5) - 10px);
  margin: 10px !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0.01880207657814026, 0.1328042596578598, 0.23749999701976776, 0.5);
  overflow: hidden;
  object-fit: cover; 
}
.basketTitle{
  color: #f7f7f7;
  text-align: left;
  overflow: visible;
  margin: 0 !important;
}
.basketText{
  color: #f7f7f7;
  text-align: left;
  overflow: hidden;
  margin: 0 !important;
}
.basketCost{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  vertical-align: middle;
  width: 90px;
  height: 100%;
}
.favoured{
  display: flex;
  align-self: center;
  align-items: stretch;
  vertical-align: middle;
  height: 50%;
  color:#f7f7f7;
}
.favoured:hover{
  color: #99D7C2;
}
.price{
  display: flex;
  align-self: center;
  align-items: stretch;
  vertical-align: middle;
  color: #EC6F61;
}
.rightIcons{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90px;
  float: right;
}
.basketRemoveBtn{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #EC6F61;
  color: #f7f7f7;
}
.icon{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  vertical-align: middle;
  
}
.payBtn, .checkoutBtn{
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(21, 70, 115, 0.25);
  margin-bottom: 4em !important;
  padding: 0.5em !important;
  background-color: #EC6F61;
  cursor: pointer;
  color: #f7f7f7;
}
.checkoutBtn:hover{
  background-color: #f59e98;
}
.contentArea{
  display: flex;
  flex-direction: column;
}
.cartBanner{
  background-color: #EC6F61;
}
.green{
  color: #55BC9B !important;
}
.textWhite{
  color: #f7f7f7;
}
.checkoutTable{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  vertical-align: middle;
  margin-bottom: 3em !important;
}
.squareTable{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  vertical-align: middle;
  max-width: 400px;
}
.tableRow{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-self: stretch;
  vertical-align: middle;
  padding: 0.5em;
}
.rowGreen{
  background-color: #55BC9B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rowGreen:hover{
  background-color: #A6D9C9;
}
.paymentPopup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  vertical-align: middle;
}