.discoverList{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content:space-around; 
	justify-content: center;
  	text-align: center;
  	left: calc((100% - 800px)/2);
}
.discoverRow{
	display: flex;
}
.discoverItem{
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: stretch;
	vertical-align: middle;
	overflow: hidden;
	width: 350px;
	height: 200px;
	border-radius: 26px;
	padding-left: 1em !important;
	margin: 1em !important;
	background-color: #05223D;
}
.featured{
	background-color: #55BC9B;
}
.discoverInfo{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: calc((100%/6) * 4);
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.discoverTitle{
	color: #f7f7f7;
	text-align: left;
	overflow: visible;
}
.discoverRight{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: calc((100%/6)*3);
}
.discoverImage{
	display: flex;
	border-radius: 26px;
	height: 100%;
	max-width: 124px;
	margin: 0.5em 0.6em 0.5em 0.6em !important;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: 0px 4px 4px rgba(0.01880207657814026, 0.1328042596578598, 0.23749999701976776, 0.5);
	overflow: hidden;
	object-fit: cover; 
}
.discoverAbove{
	display: flex;
	align-self: flex-end;
}
.discoverText{
	color: #f7f7f7;
  	text-align: left;
  	overflow: hidden;
}
.discoverBtn{
	display: flex;
	align-self: flex-end;
    justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 26px 0px;
	color: #f7f7f7;
	background-color: #55BC9B;
	cursor: pointer;
}
.featuredDishBtn{
	background-color: #05223D;
}