/*Font imports and Application*/
@import url("https://use.typekit.net/pxb0mzl.css");
* {
  margin: 0px !important;
  text-shadow: 0px 0px !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: agenda, sans-serif;
	font-weight: 600;
	font-style: normal;

}
body, p{
	font-family: agenda, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}
#badgeTitle{
	font-family: agenda-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24px;

}
/*Color Swatch Classes*/
.clrContrast{
	color:#f7f7f7 !important;
	background-color:#05223D !important; 

}
.clrBackground{
	color:#05223D !important; 
	background-color:#f7f7f7 !important; 
}

.description{
	font-family: agenda, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #05223D;
	text-shadow: 0px 0px !important;
}
.btnIcText{
	font-family: agenda-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #05223D;
}
.
/*Browser Compatability*/
article, aside, footer, header, nav, section {
	display: block;
}
.homeContent{
	display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: stretch;
	  justify-content: center;
}

footer{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: #f7f7f7;
	box-shadow: 0px -2px 10px rgba(5, 34, 61, 0.25);

}
.portraitDevice{
	display: none;
}
.logo{
	display: block;
	left: 6.42%;
	top: 0.52%;
	content: url(../Images/logo-06-06.png);
}
#keywordSearch{
	width: 60%;
	margin: 0% 20% 0 25% !important;
}
#welcomeBanner{
	background-color:#EC6F61;
	text-align: center;
	justify-content: center;
	flex-direction: row;
	color: #F7F7F7;
	margin: 1em 20% 1em 20% !important;
}	
.pageTitle{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 1em !important;
}
.pageTitleHR{
	justify-content: center;
	border-bottom: 2px solid #05223D;
	width: 60%;
	margin: 1em 20% 1em 20% !important;
}
.notify {	
	position: relative;
	display: inline-block;
	top: -0.5em;
	left: -0.75em;
	border-radius: 50px;
	font-size: 0.95em;
	width: 1.5em;
	padding: 0.15em;
	line-height: 1.5em;
	text-align: center;
	color:#F7F7F7;
	overflow: hidden;

}
.ui-body-a{
	border-color: #05223D;
}


/*Media Queries*/
/*Common to both orientations and all devices */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 2048px)  { 
	.landscapeDevice{
		display:block;
	}
	.ui-content{
		padding: 0;
	}
	.ui-grid-a> .sideBar {
		width: 27%;
		height: 100vh;
		border-radius: 0px 32px 0px 0px;
	}
	.ui-grid-a> .contentArea{
		width: 73%;
	}
	.logo{
		height: 110px;
	}

}
/*Mobile Landscape only css*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.portraitDevice{
		display: none;
	}
	.landscapeDevice{
		display: block;
	}
	.logo{
		height: 110px;
	}

}

/*Mobile Portrait only css*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.portraitDevice{
		display: block;
	}
	.landscapeDevice{
		display: none;
	}
	.logo{
		height: 80px;
	}
}